.modal_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_title {
  height: 3px;
}

.input_submit {
  margin-left: 30px;
  background-color: rgb(66, 163, 247);
  color: white;
  border-radius: 25px;
  border-style: none;
  padding: 16px 40px;
  font-size: 15px;
}
